/******************************
 * Color Definitions
 ******************************/
darkgray = #333

limey = #D1E751
electric_blue = #4DBCE9

/******************************
 * Fonts
 ******************************/
//@font-face { font-family: Winchester; src: url("fonts/1873_Winchester.ttf"); }


/******************************
 * Functions
 ******************************/
vendor(prop, args)
  -moz-{prop} args
  -webkit-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)


/******************************
 * Defaults
 ******************************/

body
  background-color black
  color white
	font-style "Helvetica Neue", Helvetica, Arial, Sans-Serif
	font-size 22px

h1
  font-size 120px

h2
  font-size 80px
  font-weight normal

a
	text-decoration none

/******************************
 * Page Elements
 ******************************/


/******************************
 * Components
 ******************************/

.cf:before, .cf:after
    content " "
    display table
.cf:after
    clear both
.cf
    *zoom 1

.container
  width 95%
  margin 0 auto
	margin-bottom 80px

.events
  white-space nowrap
  overflow scroll
  padding-bottom 100px
  text-align center

.month
  position relative
  width 7.5%
  height 100px
  display inline-block

.events span:last-child .month
  margin-right 0

.event
  position absolute
  width 5px
  height 100%
  background-color white
  .details
    display none
    position absolute
    white-space nowrap
    top 120px
    line-height 1.5em
  &:hover .details
    z-index 10
    display block
    background-color black
  &.past
    color darkgray
    background-color darkgray

#owner
  float left
  line-height 0
#year 
  line-height 50px
  float right

.event-type-tech
  color limey
  background-color limey
.event-type-meditation
  color electric_blue
  background-color electric_blue
